global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:5173
    
    default_backend nginx_servers

backend nginx_servers
    balance roundrobin
    server-template nginx 2 nginx:80 check inter 5s fall 3 rise 2
